-- Options are automatically loaded before lazy.nvim startup
-- Default options that are always set: https://github.com/LazyVim/LazyVim/blob/main/lua/lazyvim/config/options.lua
-- Add any additional options here

vim.opt.spelllang = { "en" }
vim.o.sessionoptions = "blank,buffers,curdir,folds,help,tabpages,winsize,winpos,terminal,localoptions"

-- force to use zsh shell in neovim instance
-- needed because of this https://github.com/NickvanDyke/opencode.nvim/issues/18#issue-3312038123
{{ if eq .chezmoi.os "darwin" -}}
-- vim.opt.shell = "/bin/zsh"
{{ else if eq .chezmoi.os "linux" -}}
-- vim.opt.shell = "/usr/bin/zsh"

{{ end -}}

-- set cursor back to terminal cursor style after quitting neovim
-- https://neovim.io/doc/user/faq.html#faq
-- vim.api.nvim_create_autocmd({"VimEnter", "VimResume"}, {
--   command = "set guicursor=n-v-c:block,i-ci-ve:ver25,r-cr:hor20,o:hor50,a:blinkwait700-blinkoff400-blinkon250-Cursor/lCursor,sm:block-blinkwait175-blinkoff150-blinkon175"
-- })
--
-- vim.api.nvim_create_autocmd({"VimLeave", "VimSuspend"}, {
--   command = "set guicursor=a:block-blinkon0"
-- })

-- Uncomment the code below, if only use prettier if the config file `.prettierrc` or `prettier.json` exist in the root project directory
-- vim.g.lazyvim_prettier_needs_config = true

-- Uncomment this if want to show cool inline diagnostic
-- vim.diagnostic.config({
--   virtual_text = true, -- set to false, if want using tiny-inline-diagnostic
--   virtual_lines = { current_line = true }, -- set to `virtual_lines = false`, if want using tiny-inline-diagnostic
--   underline = true,
--   update_in_insert = false,
-- })

-- vim.opt_local.spell = false
-- vim.opt_global.spell = false

vim.opt.list = true
vim.opt.listchars = {
  eol = "⤶",       -- line break | ⤶ | ↩ | ↵ |
  tab = "→ ",      -- tab icon
  trail = "",     -- trailing space icon
  -- space = "·",     -- optional show normal space too
}
