model = "gpt-5.4"
model_reasoning_effort = "high"

[features]
[mcp_servers.deepwiki]
  url = "https://mcp.deepwiki.com/mcp"

[mcp_servers.exa]
  url = "https://mcp.exa.ai/mcp"

[mcp_servers.linear]
  url = "https://mcp.linear.app/mcp"

[mcp_servers.context7]
  args = ["-y", "@upstash/context7-mcp", "--api-key", "@context7_api_key@"]
  command = "npx"

[mcp_servers.Ref]
  url = "https://api.ref.tools/mcp?apiKey=@ref_api_key@"

[mcp_servers.tavily]
  url = "https://mcp.tavily.com/mcp/?tavilyApiKey=@tavily_api_key@"

@conditional_trusted_projects@
