model = "gpt-5.5"
model_reasoning_effort = "high"

[features]
[mcp_servers.deepwiki]
  url = "https://mcp.deepwiki.com/mcp"

[mcp_servers.exa]
  url = "https://mcp.exa.ai/mcp"

[mcp_servers.linear]
  url = "https://mcp.linear.app/mcp"

[mcp_servers.context7]
  url = "https://mcp.context7.com/mcp"
  http_headers = { "CONTEXT7_API_KEY" = "@context7_api_key@" }

[mcp_servers.Ref]
  url = "https://api.ref.tools/mcp?apiKey=@ref_api_key@"

[mcp_servers.tavily]
  url = "https://mcp.tavily.com/mcp/?tavilyApiKey=@tavily_api_key@"

[mcp_servers.gitmcp]
  url = "https://gitmcp.io/chianyungcode/dotfiles"
  enabled = false

[mcp_servers.grep]
  url = "https://mcp.grep.app"
  enabled = false

[mcp_servers.ticktick]
  url = "https://mcp.ticktick.com"
  enabled = true

@conditional_trusted_projects@
