session_name "allweezy-backend"

layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="nvim" split_direction="horizontal" {
    pane split_direction="vertical" {
         pane size="70%" cwd="~/Code/Personal/Projects/Backend/allweezy-backend/" command="nvim" name="editor"
    }
  }

  tab name="codex" split_direction="horizontal" {
    pane name="codex" cwd="~/Code/Personal/Projects/Backend/allweezy-backend/" command="codex"
  }

  tab name="opencode" split_direction="horizontal" {
    pane name="opencode" cwd="~/Code/Personal/Projects/Backend/allweezy-backend/" command="opencode"
  }

  tab name="runner" split_direction="horizontal" {
    pane name="task" cwd="~/Code/Personal/Projects/Backend/allweezy-backend/" command="just" {
      args "dev_local"
      start_suspended true
    }
  }

  tab name="running_notes" split_direction="horizontal" {
    pane name="obsidian" cwd="~/Documents/vault-obsidian/" command="nvim"
  }

}

