session_name "dotfiles"

layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="chezmoi" split_direction="horizontal" {
    pane split_direction="vertical" {
      pane size="70%" command="nvim" name="editor" cwd="~/.local/share/chezmoi"
      pane size="30%" name="jjui" command="jjui" cwd="~/.local/share/chezmoi"
    }
  }

  tab name="config" split_direction="horizontal" {
    pane split_direction="vertical" {
       pane cwd="~/.config" name="editor" command="nvim"
    }
  }

  tab name="codex" split_direction="horizontal" {
    pane cwd="~/.local/share/chezmoi" command="codex"
  }

  tab name="opencode" split_direction="horizontal" {
    pane cwd="~/.local/share/chezmoi" command="opencode"
  }

  tab name="yazi" split_direction="horizontal" {
    pane cwd="~" command="yazi"
  }
}
