session_name "allweezy-frontend"

layout {
  default_tab_template {
    children
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }

  tab name="nvim" split_direction="horizontal" {
    pane split_direction="vertical" {
         pane size="70%" cwd="~/Code/Personal/Projects/Frontend/allweezy/" command="nvim" name="editor"
         pane size="30%" cwd="~/Code/Personal/Projects/Frontend/allweezy/" name="terminal"
    }
  }

  tab name="codex" split_direction="horizontal" {
    pane name="codex" cwd="~/Code/Personal/Projects/Frontend/allweezy/" command="codex"
  }

  tab name="opencode" split_direction="horizontal" {
  pane name="opencode" cwd="~/Code/Personal/Projects/Frontend/allweezy/" command="opencode"
  }

  tab name="runner" split_direction="horizontal" {
    pane name="task" cwd="~/Code/Personal/Projects/Frontend/allweezy/" command="task" {
      args "dev"
      start_suspended true
    }
  }

  tab name="running_notes" split_direction="horizontal" {
    pane name="obsidian" cwd="~/Documents/vault-obsidian/" command="nvim"
  }

}
