name: Nix Lint
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  lint:
    name: treefmt check via justfile
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
      - name: Run treefmt check recipe from justfile
        run: nix shell nixpkgs#just -c just treefmt-check
